<%- include('iincludes/_header') %>
<body>
    <header id="Home">
        <div class="hea" >
        <div class="logo">Ocean<span>Bank.</span> </div>
     <div class="dropdown">  <div class="hgf" ><i class="fa fa-bars" aria-hidden="true"></i></div></div> <Nav><a  class="ptn" href="/">Home</a>
            <a  class="ptn" href="https://www.thesparksfoundationsingapore.org/" >About</a>
            <a  class="ptn" href="/customer">All customers</a>
            <a  class="ptn" href="/trans">Transaction History</a>
            <a  class="ptn" href="/transferr">Money Transfer</a>
          
        </Nav>
        
      </div>
    </header>
    <section class="first" > <div class="join">
        <div class="start"><p class="mhg"><span class="hh">Ocean</span> <span> Bank</span></p><br>
            <h4>Transfer your money Safely with Ocean Bank!! </h4><br><a href="/customer" class="ptyy">All customers</a><a href="/trans" class="ptyy">Transaction Details</a></div>
        <div class="phn">
            <img src="piic5.png"alt="photo" id="mainpic">
        </div></div></section>
       
               
        <%- include('iincludes/_footerr') %>
      
        
</body>
</html>